.about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  // margin-top: 82px;
  margin-bottom: 86px;
}

.about__wrapper {
  flex-basis: 519px;
}

.about__contacts {
  flex-basis: 300px;
  margin-bottom: auto;
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-family: @cuprum;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 23px;

  font-family: @ptsans;
  line-height: 24px;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.about__contacts img {
  margin-bottom: 40px;
}

// .about__contacts > .about__title {
//   margin: 0;
//   margin-bottom: 30px;
// }

.about__contacts .about__text {
  width: 180px;
  margin-bottom: 34px;
}

.about__list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

.about__item {
  position: relative;
  margin-bottom: 20px;
  margin-top: 17px;
  padding-left: 37px;

  font-family: @cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    top: 50%;
    left: 0;

    background-color: #fb565a;
  }
}

.about__list-btn {
  margin-right: auto;
  margin-left: 0;
}

.about__map {
  display: flex;
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.about__map img {
  margin: auto;
}
