.features__list {
  display: flex;
  flex-basis: 940px;
  min-height: 409px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style-type: none;
}

.features__item {
  width: 300px;
  height: 123px;
}

.features__item:first-child {
  background-color: #f6b22d;
}

.features__item:nth-child(2) {
  background-color: #4aafde;
}

.features__item:nth-child(3) {
  background-color: #cc79d1;
}

.features__item-wrapper {
  margin: 0;
  margin-top: auto;
  padding: 0;
}

.features__item-wrapper li:nth-child(1) {

  background-color: #85d179;
}

.features__item-wrapper li:nth-child(2) {
  margin-top: 20px;
  background-color: #f6b22d;
}

.features__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.features__text {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  text-transform: uppercase;
}
