.feedback {
  display: flex;
  width: 100%;
  min-height: 107px;
  justify-content: space-between;
  align-items: center;
}

.feedback__copyright {
  flex-basis: 230px;
}

.feedback__copyright-text {
  color: #ffffff;
  font-family: @cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback__mail {
  flex-basis: 140px;
}

.feedback__developer {
  flex-basis: 100px;
}

.feedback__mail-title,
.feedback__mail-address,
.feedback__developer-title,
.feedback__developer-site {
  color: #ffffff;
  font-family: @cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback__mail-address,
.feedback__developer-site {
  color: #ffd180;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    color: #ee3643;
  }
}
