.goods__wrapper {
  display: flex;
  width: 100%;
  min-height: 89px;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 21px;

  background-color: #f7f3ec;
}

.goods__title {
  min-width: 260px;
  margin: 0;
  margin-left: 30px;
  padding: 0;

  color: #32425c;
  font-family: @cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.goods__btn {
  margin-left: auto;
  margin-right: 24px;
}

.goods__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;
}

.goods__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  min-height: 318px;
  margin: 0;
  padding: 0;

  border: 1px solid #e5e5e5;

  &--ribbon {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 60px;
      height: 59px;

      background-image: url("../img/new-flag.png");
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
  }
}

.goods__image {
  display: flex;
  width: 184px;
  height: 164px;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 0;

  text-align: center;
}

.goods__buttons {
  display: none;
  width: 184px;
  height: 164px;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 0;

  text-align: center;
}

.goods__button-buy {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 135px;
  height: 38px;
  align-self: center;
  margin-top: 44px;
  padding: 14px 0;

  font-family: @cuprum;
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  box-shadow: inset 0 -3px 0 #367315;
  border: none;
  border-radius: 2px;
  background-color: #63a63e;

  &::before {
    position: absolute;
    content: "";
    top: 25%;
    left: 10%;
    width: 17px;
    height: 16px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background-color: #5fbb2d;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    background-color: #518534;

    &::before {
      opacity: 1;
    }
  }
}

.goods__button-favorites {
  width: 135px;
  height: 38px;
  align-self: center;
  margin-bottom: 31px;

  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius: 2px;

  &:hover,
  &:focus {
    border: 3px solid #32425c;
  }

  &:active {
    border: 3px solid #32425c;
    opacity: 0.3;
  }
}

.goods__item:hover .goods__image {
  display: none;
}

.goods__item:hover .goods__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.goods__image img {
  margin: auto;
}

.goods__item-title {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 0;

  color: #000000;
  font-family: @ptsans-bold;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}

.goods__item-sale {
  width: 67px;
  margin: 0 auto;

  font-family: @ptsans-bold;
  font-size: 17px;
  text-align: center;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.goods__item-price {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 121px;
  min-height: 38px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 21px;
  padding: 14px 15px;

  font-family: @ptsans-bold;
  font-size: 17px;
  line-height: 10px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 99%;
    top: 50%;

    border: solid transparent;
    border-left-color: #ee3643;
    border-width: 20px;
    margin-top: -20px;
  }
}
