.header {
  margin-bottom: 60px;
}

.header-top {
  background-color: #293449;
}

.header-top__wrapper {
  display: flex;
  width: 100%;
  min-height: 42px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0;
}

.header-top__logo {
  margin: 0;
}

.header-top__search {
  width: 240px;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-left: 29px;
}

.header-top__input {
  width: 100%;
  height: 100%;
  padding-left: 29px;

  font-size: 17px;
  line-height: 18px;
  color: #fff;

  border: none;
  background-color: #293449;
}

.header-top__favorites {
  width: 150px;
}

.header-top__cart {
  width: 140px;
}

.header-top__buy {
  width: 150px;

  background-color: #63a63e;
}


.header-top__favorites,
.header-top__cart,
.header-top__buy,
.header-top__link {
  box-sizing: border-box;
  height: 42px;
  margin: 0;
  padding: 0 10px;
  padding-top: 14px;

  font-size: 17px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
