.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.info__wrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.info__title {
  max-width: 200px;

  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.info__contacts {
  flex-basis: 270px;
}

.info__phone {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  margin: 0;
  margin-top: 44px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 11px;

  border: 3px solid #ffffff;

  &::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    top: 30%;
    left: 10%;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.info__phone-number {
  display: block;
  width: 151px;
  margin: 0 auto;
  padding: 0;
  padding-left: 40px;

  font-size: 21px;
  line-height: 18px;
  letter-spacing: 0.42px;
  color: #e9292a;
  text-align: center;
}

.info__address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.info__login {
  display: none;
  // display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 300px;
  min-height: 45px;
}

.info__signin,
.info__signup {
  width: 121px;
  min-height: 45px;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ee3643;
  }

  &:active {
    opacity: 0.3;
    color: #000000;
  }
}

.info__signin {
  position: relative;
  padding-left: 14px;
}

.info__login-icon {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  top: 30%;
  left: 10px;

  fill: #c5c5c5;
}

.info__signin:hover .info__login-icon,
.info__signin:focus .info__login-icon {
  fill: #000000;
}

.info__signin:active .info__login-icon {
  fill: #c5c5c5;
}

.info__signup {
  box-sizing: border-box;
  width: 150px;
  margin-left: 20px;
  padding-top: 14px;

  text-align: center;
}

.info__user-block {
  width: 300px;
  min-height: 80px;
}

.info__user {
  // display: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 300px;
  min-height: 45px;
}

.info__user-name {
  width: 260px;
  padding-left: 47px;
}

.info__user-link {
  color: #000000;
  font-family: @cuprum;
  font-size: 21px;
  font-weight: 400;
}

.info__logout {
  flex-basis: 40px;

  font-size: 0;
  border: none;
}
