.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  background-color: #f3f7f9;
}

.info__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.info__title {
  max-width: 200px;

  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.info__contacts {
  flex-basis: 270px;
}

.info-phone {
  font-size: 21px;
  line-height: 18px;

  color: #e9292a;
}

.info-address {
  color: #32425c;

font-size: 14px;
line-height: 24px;
}

.info-user {
  flex-basis: 281px;
}

.info-user-signin,
.info-user-signup {
  min-width: 121px;
  min-height: 45px;

  font-size: 21px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: none;
}
