.range__controls {
  display: flex;
  align-items: center;
  width: 220px;
  height: 80px;

  background-color: #f7f3ec;
}

.range__scale {
  width: 180px;
  height: 2px;
  margin: 0 auto;

  background-color: #d7dcde;
}

.range__bar {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}
