.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 522px;
  margin-bottom: 82px;

  background-color: #f4f8f9;
  overflow: hidden;
}

.services__title {
  width: 130px;
  margin: 0;
  margin-top: 68px;
  margin-bottom: 40px;
  padding: 0;

  font-family: @cuprum;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services__text {
  width: 415px;
  margin: 0;
  margin-bottom: 74px;
  padding: 0;

  color: #000000;
  font-family: @ptsans;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.services__wrapper {
  display: flex;
  width: 940px;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.services__list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
  min-height: 183px;

  margin: 0;
  padding: 0;

  list-style: none;
  z-index: 15;

  &::after {
    position: absolute;
    content: "";
    top: -20%;
    left: 96%;
    width: 10px;
    height: 268px;

    background-image: url("../img/shadow.png");
    z-index: 20;
  }
}

.services__item {
  box-sizing: border-box;
  min-width: 240px;
  height: 61px;
  margin: 0;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 21px;

  color: #ffffff;
  font-family: @cuprum-bold;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;

  box-shadow: 0 1px 0 #293449,
    inset 0 1px 0 #405069;
  background-color: #32425c;
  z-index: 10;
  cursor: pointer;

  &:hover,
  &:focus {
    // color: #32425c;
    color: #ffffff;

    // background-color: #ffffff;
    box-shadow: 0 1px 0 #293449,
      inset 0 1px 0 #405069;
    background-color: #293449;
  }
}

.services__cards {
  display: flex;
  flex-basis: 825px;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-left: 80px;
  padding: 0;

  list-style: none;
}

.services__cards-item {
  width: 620px;
  min-height: 283px;
  margin-top: 0;
  margin-right: 320px;
  margin-left: auto;
  margin-bottom: 0;

  transition: transform 0.8s ease;

  &--delivery {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 30%;
      left: 20%;
      width: 467px;
      height: 261px;

      background-image: url("../img/delivery.png");
    }
  }

  &--guarantee {
    position: relative;
    margin-left: 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 30%;
      width: 389px;
      height: 283px;

      background-image: url("../img/guarantee.png");
    }
  }

  &--credit {
    position: relative;
    margin-left: 0;
    margin-right: 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 20%;
      width: 465px;
      height: 285px;

      background-image: url("../img/credit.png");
    }
  }
}

.services__cards-title {
  margin: 0;
  padding: 0;

  color: #32425c;
  font-family: @cuprum;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.services__cards-text {
  width: 300px;

  color: #000000;
  font-family: @ptsans;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.services__btn {
  position: absolute;
  content: "";
  padding: 10px 15px;
  bottom: 0;
  left: 0;
}

#delivery:checked~.services__cards>.services__cards-item {
  transform: translate(0);
}

#guarantee:checked~.services__cards>.services__cards-item {
  transform: translate(-940px);
}

#credit:checked~.services__cards>.services__cards-item {
  transform: translate(-1880px);
}

#delivery:checked~.services__list>label[for="delivery"],
#guarantee:checked~.services__list>label[for="guarantee"],
#credit:checked~.services__list>label[for="credit"] {
  color: #32425c;
  box-shadow: 0 1px 0 #ffffff,
    inset 0 1px 0 #ffffff;
  background-color: #ffffff;
}
