.slides {
  width: 620px;
  height: 266px;
}

.slides__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slides__item {
  background-color: #ada9a6;
}

.slides__item:first-child {
  width: 620px;
  height: 266px;
  background-image: url('../img/slider1.jpg');
}

.slides__item:nth-child(2) {
  width: 620px;
  height: 266px;
  background-image: url('../img/slider2.jpg');
  display: none;
}

.slides__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.slides__text {
  font-family: @ptsans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
